<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard | Blog Portal</title>

   <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/assets/plugin/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="/public/assets/plugin/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/public/assets/plugin/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/public/assets/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/public/assets/dist/css/custom.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/public/assets/plugin/overlayScrollbars/css/OverlayScrollbars.min.css">
  
  <!-- DataTables -->
  <link rel="stylesheet" href="/public/assets/plugin/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/public/assets/plugin/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/public/assets/plugin/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>